.btnStyle, .register-form .container form .row .col-lg-6:last-child .btnSubmit, .btnStyle-buyNow {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #AE18E2;
  padding: 15px;
  border: 1px solid #AE18E2;
  border-radius: 10px;
  outline: none;
}
.btnStyle:hover, .register-form .container form .row .col-lg-6:last-child .btnSubmit:hover, .btnStyle-buyNow:hover {
  background: #fff;
  color: #AE18E2;
}
.btnStyle:focus, .register-form .container form .row .col-lg-6:last-child .btnSubmit:focus, .btnStyle-buyNow:focus {
  outline: none;
}

.btnStyle-buyNow {
  padding: 12px 42px;
  border-radius: 0;
  background: transparent;
  box-shadow: 0 0 0 40px #F8B653 inset;
  border: none;
  transition: all 0.65s;
}
.btnStyle-buyNow:hover {
  box-shadow: 0 0 0 1px #F8B653 inset;
  color: #F8B653;
}

.header {
  background: #000;
  height: 50px;
  border: 1px solid #000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header .container .header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-login .cart span {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.header .container .header-login a {
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
  margin-left: 10px;
  text-decoration: none;
}
.header .container .header-login a:hover {
  opacity: 0.8;
}

.navigation {
  height: 50px;
  background: #fff;
}
.navigation .container ul {
  list-style: none;
  margin: 0;
}
.navigation .container ul li {
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;
}
.navigation .container ul li:hover a {
  color: #AE18E2;
}
.navigation .container ul li:hover a.active::before {
  background: #AE18E2;
}
.navigation .container ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  transition: all 0.3s;
}
.navigation .container ul li a.active {
  font-weight: 600;
  position: relative;
}
.navigation .container ul li a.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background: #000;
}

.register-form {
  margin-top: 30px;
}
.register-form .container .title {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.register-form .container form {
  margin-top: 30px;
}
.register-form .container form .row .col-lg-6:last-child .form-group:last-child input {
  width: initial;
}
.register-form .container form .row .col-lg-6:last-child .btnSubmit {
  padding: 10px 80px;
  background: transparent;
  box-shadow: 0 0 0 40px #AE18E2 inset;
  transition: all 0.65s;
}
.register-form .container form .row .col-lg-6:last-child .btnSubmit:hover {
  box-shadow: 0 0 0 1px #AE18E2 inset;
}
.register-form .container form .row .col-lg-6 .form-group {
  width: 100%;
  position: relative;
}
.register-form .container form .row .col-lg-6 .form-group input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-width: 5px;
  border-color: #AE18E2;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  width: 80%;
}
.register-form .container form .row .col-lg-6 .form-group input:focus {
  outline: none;
}
.register-form .container form .row .col-lg-6 .form-group input[type=radio] {
  width: 30px !important;
  height: 30px;
  accent-color: #AE18E2;
}
.register-form .container form .row .col-lg-6 .form-group span {
  font-size: 20px;
  font-weight: 600;
  color: #F50E0E;
  position: absolute;
  right: 20%;
  bottom: 50%;
}
.register-form .container form .row .col-lg-6 .form-group label {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  margin-right: 5px;
}
.register-form .container form .row .col-lg-6 .form-group label:nth-child(1) {
  margin-right: 15px;
}

.footer {
  margin-top: 40px;
}
.footer img {
  width: 100%;
}