@import '../../themes/variable';
@import '../../base/components/components';

// Header
.header{
    background: $bg-c1-dark;
    height: 50px;
    border: 1px solid $bg-c1-dark;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        .logo{
            img{
    
            }
        }
    
        .header-login{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cart{
                img{
    
                }
                span{
                    @include text($text-2xl, $text-regular, $text-c1-white);
                }
            }
            a{
                @include text($text-base,$text-regular,#f7f7f7);
                margin-left: 10px;
                text-decoration: none;
                &:hover{
                    opacity: 0.8;
                }
            }
    
        }

    }

}

// Navigation
.navigation{
    height: 50px;
    background: $bg-c1-white;
    .container{
        
        ul{
            list-style: none;
            margin: 0;
            li{
                display: inline-block;
                line-height: 50px;
                margin-right: 20px;
                &:hover{
                    a{
                        color: #AE18E2;
                        &.active{
                            &::before{
                                background: #AE18E2;
                            }
                        }
                    }
                }
                a{
                    text-decoration: none;
                    @include text($text-xl,$text-regular,$text-c1-dark);
                    transition: all .3s;
                    &.active{
                        font-weight: $text-semibold;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            width: 100%;
                            height: 1px;
                            background: $bg-c1-dark;
                        }
                    }
                }
            }
        }

    }
}

// product detail
.product-detail{
    .container{
        padding-top: 50px;
        padding-bottom: 50px;

        .row{
            .col-lg-5{
                text-align: center;
                img{
                    width: 80%;
                    // height: 355px;
                }
            }
            .col-lg-7{
                .title{
                    @include text($text-2xl,$text-semibold,$text-c1-dark);
                }
                .desc{
                    @include text($text-base,$text-regular,$text-c1-dark);
                }
                .textSize{
                    @include text(24px,$text-regular,#1ED90E);
                }
                .size{
                  
                    span{
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        line-height: 50px;
                        background-color: #CCCCCC;
                        display: inline-block;
                        @include text(24px,$text-semibold,$text-c1-dark);
                        margin-right: 20px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover{
                            opacity: .6;
                        }
                    }
                }
                .price{
                    @include text($text-2xl,$text-semibold,#FC0303);
                }
                .button-wrap-increase{
                    display: flex;
                    align-items: center;
                    .btnPlus{
                        width: 50px;
                        height: 50px;
                        @include text($text-2xl,$text-semibold,$text-c1-white);
                        text-align: center;
                        line-height: 20px;
                        outline: none;
                        border: none;
                        background:linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                    span{
                        margin: 0 20px;
                        @include text($text-2xl,$text-semibold,$text-c1-dark);
                    }
                }
                .btnAddToCart{
                    width: 175px;
                    text-decoration: none;
                    height: 64px;
                    display: inline-block;
                    text-align: center;
                    line-height: 64px;
                    background:linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
                    @include text(24px,$text-semibold,#FFF8F8);
                    transition: all .2s;
                    &:hover{
                        opacity: 0.9;
                    }
                }

            }
        }
    }
}

// product feature
.product-feature{
    padding: 50px 0;
    .container{
        .title{
            @include text($text-3xl, $text-semibold,$text-c1-dark);
            margin-bottom: 50px;
        }
        .row{
            .col-lg-4{
                .card{
                    min-height: 580px;
                    img{

                    }
                    .card-body{
                        .card-title{
                            @include text(24px, $text-semibold,$text-c1-dark);
                        }
                        .card-text{
                            @include text($text-xl, $text-regular,#CBC9C9);
                            display: block;
  	                        display: -webkit-box;
                            height: 60px;
                            -webkit-line-clamp: 2;  /* số dòng hiển thị */
  	                        -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .card-footer{
                        padding: 0;
                        display: flex;
                        border:none;
                        #btnBuy{
                            text-decoration: none;
                            font-size: 24px;
                            color: $text-c1-dark;
                            box-shadow: 0 0 0 40px #E1B067 inset;
                            width: 60%;
                            text-align: center;
                            &:hover{
                                box-shadow: 0 0 0 1px #E1B067 inset; 
                            }
                        }
                        .price{
                            width: 40%;
                            background: #DEDDDC;
                            line-height: 60px;
                            display: inline-block;
                            @include text(24px, $text-semibold,$text-c1-dark);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
